$color-black:     #000;
$color-white:     #FFF;
$cadet-blue:      #b5bdc8;
$oslo-gray:       #828c95;
$outer-space:     #28343b;
$cerulean:        #00b7ea;
$deep-cerulean:   #0074b2;
$black-russian:   #000016;
$prussian-blue:   #002156;