[override] osb-geo-weather {
  .today-weather {
    .temp {
      font-size: 50px;
    }

    .condition {
      position: relative;
      top: -7px;
    }

    img {
      margin-top: -20px;
    }
  }
}