<main class="osb-geo-weather-holder">
    <h2>Local Weather <i class="fa fa-refresh"></i></h2>
    <section>
        <article class="weather forecast-data" *ngIf="!isLoading">
            <h3 class="today-weather">
                <span class="title">{{ weatherData.weather[0].description}}</span> <i class="wi wi-owm-{{ weatherData.weather[0].id}}"></i> <span>{{ weatherData.main.temp }}</span><sup>&deg;</sup>
            </h3>
            <h4 class="today-high-low">
                <i class="fa fa-chevron-up"></i> High: <span>{{ weatherData.main.temp_max }}</span><sup>&deg;</sup> |
                <i class="fa fa-chevron-down"></i> Low: <span>{{ weatherData.main.temp_min }}</span><sup>&deg;</sup>
            </h4>
            <p>Location <i class="fa fa-map-marker"></i>: <span>{{ weatherData.name }}</span></p>
            <p class="today-sunrise-sunset">
                <i class="wi wi-sunrise"></i> Sunrise: <span>{{ weatherData.sys.sunrise * 1000 | date:'hh:mm' }}</span> |
                <i class="wi wi-sunset"></i> Sunset: <span>{{ weatherData.sys.sunset * 1000 | date:'hh:mm' }}</span>
            </p>
        </article>
        <article class="weather" *ngIf="!forecastLoading">
            <h3><i class="fa fa-calendar"></i> Weather Forecast <i class="fa fa-chevron-up"></i></h3>
            <ul class="forecast-list">
                <li *ngFor="let forecast of forecastData.list">
                    <h3>{{ forecast.dt * 1000 | date: 'EEE dd MMM'}}</h3>
                    <h4>{{ forecast.weather[0].description }} <i class="wi wi-owm-{{ forecast.weather[0].id }}"></i></h4>
                    <p><i class="fa fa-chevron-up"></i> High: {{ forecast.temp.max }}</p>
                    <p><i class="fa fa-chevron-down"></i> High: {{ forecast.temp.min }}</p>
                </li>
            </ul>
        </article>
        <article class="weather-loader" *ngIf="isLoading">
            <i class="fa fa-spinner fa-spin"></i>
            <p class="message"></p>
        </article>
        <article class="background defaultBg"></article>
    </section>
</main>
